# Data Manipulation
DESCRIPTION

SFO Public Department, referred to as SFO, has captured the salary data of all its employees for the years 2011-2014. Now in 2018, the organization is facing some financial crisis. As a first step, HR wants to rationalize employee cost to save payroll budget. You have to perform data manipulation and answer the questions below:

1. How much total salary cost has increased from year 2011 to 2014?
2. Who was the top-earning employee across all the years?
Objective: Perform data manipulation and visualization techniques.

You can download the data sets from here .

In [35]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
from heapq import nlargest, nsmallest

In [4]:
salaries=pd.read_csv('Salaries.csv')

In [6]:
salaries.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

In [7]:
salaries.describe()

,Id,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes
count,148648.000000,148043.000000,148648.000000,148648.000000,112490.000000,148648.000000,148648.000000,148648.000000,0.0
mean,74326.110220,66325.398119,5065.821161,3648.761721,25007.777439,74770.035453,93694.776345,2012.522617,NaN
std,42911.633315,42764.898947,11454.266982,8056.655841,15402.235424,50516.440633,62792.743250,1.117526,NaN
min,1.000000,-166.010000,-0.010000,-7058.590000,-33.890000,-618.130000,-618.130000,2011.000000,NaN
25%,37163.750000,33587.350000,0.000000,0.000000,11535.192500,36169.370000,44072.062500,2012.000000,NaN
50%,74326.500000,65007.450000,0.000000,811.205000,28628.365000,71427.130000,92406.020000,2013.000000,NaN
75%,111488.250000,94691.050000,4657.597500,4236.035000,35566.790000,105840.920000,132876.997500,2014.000000,NaN
max,148654.000000,319275.010000,245131.880000,400184.250000,96570.660000,567595.430000,567595.430000,2014.000000,NaN

In [8]:
salaries.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148648 entries, 0 to 148647
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148648 non-null  int64
 1   EmployeeName      148648 non-null  object
 2   JobTitle          148648 non-null  object
 3   BasePay           148043 non-null  float64
 4   OvertimePay       148648 non-null  float64
 5   OtherPay          148648 non-null  float64
 6   Benefits          112490 non-null  float64
 7   TotalPay          148648 non-null  float64
 8   TotalPayBenefits  148648 non-null  float64
 9   Year              148648 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148648 non-null  object
 12  Status            38119 non-null   object
dtypes: float64(7), int64(2), object(4)
memory usage: 14.7+ MB

In [9]:
#Checking any null values in a Dataset
salaries.isna().sum()

Id                       0
EmployeeName             0
JobTitle                 0
BasePay                605
OvertimePay              0
OtherPay                 0
Benefits             36158
TotalPay                 0
TotalPayBenefits         0
Year                     0
Notes               148648
Agency                   0
Status              110529
dtype: int64

In [11]:
#What is the avearge BasePay
salaries['BasePay'].mean()

66325.39811867346

In [12]:
# What is the highest amount overtime pay
salaries['OvertimePay'].max()

245131.88

In [14]:
# What is the job title of JOSEPH DRISCOLL ? 
salaries[salaries['EmployeeName']=='JOSEPH DRISCOLL']['JobTitle']

24    CAPTAIN, FIRE SUPPRESSION
Name: JobTitle, dtype: object

In [16]:
# howmuch does JOSEPH DRISCOLL make (including benefits)?

salaries[salaries['EmployeeName']=='JOSEPH DRISCOLL']['TotalPay']

24    270324.91
Name: TotalPay, dtype: float64

In [18]:
# What is the name of highest paid person (including benefits)?

max_sal=salaries['TotalPayBenefits'].max()
salaries[salaries['TotalPayBenefits']==max_sal]

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN

In [29]:
#another method
ind=salaries['TotalPayBenefits'].idxmax()
salaries.iloc[ind,:]['EmployeeName']

'NATHANIEL FORD'

In [30]:
#What is the name of lowest paid person (including benefits)? 

ind=salaries['TotalPayBenefits'].idxmin()
salaries.iloc[ind,:]

Id                                      148654
EmployeeName                         Joe Lopez
JobTitle            Counselor, Log Cabin Ranch
BasePay                                      0
OvertimePay                                  0
OtherPay                               -618.13
Benefits                                     0
TotalPay                               -618.13
TotalPayBenefits                       -618.13
Year                                      2014
Notes                                      NaN
Agency                           San Francisco
Status                                      PT
Name: 148647, dtype: object

In [33]:
#What was the average (mean) BasePay of all employees per year? (2011-2014) ? 
salaries.groupby('Year',as_index=False).agg({'BasePay':'mean'})

   Year       BasePay
0  2011  63596.112293
1  2012  65435.950986
2  2013  69630.030216
3  2014  66564.421924

In [34]:
#How many unique job titles are there?
salaries['JobTitle'].nunique()

2158

In [62]:
#What are the top 5 most common jobs?
salaries['JobTitle'].value_counts().head(5)

Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: JobTitle, dtype: int64

In [50]:
#How many Job Titles were represented by only one person in 2013? (e.g. Job Titles with only one occurence in 2013?)
new_Df=pd.DataFrame(salaries['JobTitle'].value_counts()).reset_index()

In [59]:
new_Df[new_Df['JobTitle']==1].sum()

index       LIEUTENANT II (POLICE DEPARTMENT)EXECUTIVE ASS...
JobTitle                                                  239
dtype: object

In [66]:
(salaries[salaries['Year']==2013]['JobTitle'].value_counts()==1).sum()

202

In [70]:
##How many people have the word Chief in their job title? (This is pretty tricky)

salaries[salaries['JobTitle'].str.contains('Chief')].shape[0]

423

In [71]:
salaries['JobTitle'].apply(lambda x:'Chief' in x).sum()

423